[user]
    name = Jonathan Pilla
    {{- if eq .chezmoi.os "darwin" }}
    email = Jonathan.Pilla@checkout.com
    {{- else }}
    email = jon.pilla@gmail.com
    {{- end }}

[init]
    defaultBranch = main

[pull]
    rebase = false

[fetch]
    prune = true

[push]
    default = simple

[core]
    editor = vim
